<% title @group.name %>


<%= form_tag(@group, :method => :get) do %>
  <%= label_tag "Start" %>:
  <%= select_tag("start_date", options_from_collection_for_select(@group.distinct_dates, :value_date, :display_date), { :include_blank => true, :default => params[:start_date] }) %>
  <%= label_tag "End" %>:
  <%= select_tag("end_date", options_from_collection_for_select(@group.distinct_dates, 
  :value_date, :display_date), { :include_blank => true, :default => params[:end_date] }) %>
  <%= button_tag "Update" %>
<% end %>

<br/>

<table>
  <tr>
    <th>User</th>
    <th>lbs</th>
    <th>%</th>
  </tr>
<% @group.users.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td>
      <% if params[:start_date] %>
        <%= u.weight_delta(params[:start_date],params[:end_date]) %>  
      <% else  %>
        <%= u.weight_delta %>
      <% end %>
    lbs
    </td>
    <td>
      <% if params[:start_date] %>
        <%= u.weight_delta_percent(params[:start_date],params[:end_date]) %>  
      <% else  %>
        <%= u.weight_delta_percent %>
      <% end %>
    %
    </td>
  </tr>
<% end %>
</table>

<%= content_tag :div, "", id: "group-weight-chart", data: { weight: @group.chart_data[:data], ykeys: @group.chart_data[:keys] } %>

<% if current_user.admin %>
<div>
  <%= link_to "Edit group", edit_group_path(@group) %>
</div>
<% end %>