<% title @group.name %>

<table>
  <tr>
    <th>User</th>
    <th>lbs</th>
    <th>%</th>
  </tr>
<% @group.users.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td><%= u.weight_delta %> lbs</td>
    <td><%= u.weight_delta_percent %>%</td>
  </tr>
<% end %>
</table>

<%= content_tag :div, "", id: "group-weight-chart", data: { weight: @group.chart_data[:data], ykeys: @group.chart_data[:keys] } %>

<% if current_user.admin %>
<div>
  <%= link_to "Edit group", edit_group_path(@group) %>
</div>
<% end %>