<% title @group.name %>

<%= form_tag(@group, :method => :get) do %>
  <%= label_tag "start_date", "Start" %>:
  <%= select_tag("start_date", options_from_collection_for_select(WeighIn.dates_from_group(@group.id), :date, :display_date, params[:start_date]), { :include_blank => true }) %>
  <%= label_tag "end_date", "End" %>:
  <%= select_tag("end_date", options_from_collection_for_select(WeighIn.dates_from_group(@group.id), :date, :display_date, params[:end_date]), { :include_blank => true }) %>
  <%= button_tag "Update", :id => "filter_button" %>
<% end %>

<br/>

<table>
  <tr>
    <th>User</th>
    <th>lbs</th>
    <th>%</th>
  </tr>
<% @group.users.each do |u| %>
  <tr>
    <td><%= link_to u.name, u %></td>
    <td>
      <% if params[:start_date].nil? || params[:start_date].empty? %>
        <%= u.weight_delta %>
      <% else  %>
        <%= u.weight_delta(params[:start_date],params[:end_date]) %>          
      <% end %>
    lbs
    </td>
    <td>
      <% if params[:start_date].nil? || params[:start_date].empty? %>
        <%= u.weight_delta_percent %>
      <% else  %>
        <%= u.weight_delta_percent(params[:start_date],params[:end_date]) %>  
      <% end %>
    %
    </td>
  </tr>
<% end %>
</table>

<%= content_tag :div, "", id: "group-weight-chart", data: { weight: @group.chart_data[:data], ykeys: @group.chart_data[:keys] } %>

<% if current_user.admin %>
<div>
  <%= link_to "Edit group", edit_group_path(@group) %>
</div>
<% end %>