<% title "#{@user.name.possessive} Progress" %>

<div id="edit-account">
  <%= link_to "Edit Account", account_path %>
</div>

<div id="delta">
  <% if @user.weight_delta > 0 %>
  Boo! You've gained <%= @user.weight_delta %> lbs. (<%= @user.weight_delta_percent %>%).
  <% elsif @user.weight_delta == 0 %>
    No progress yet. You've lost 0 lbs.
  <% else %>
    Nice work! You've lost <%= @user.weight_delta.abs %> lbs. (<%= @user.weight_delta_percent.abs %>%).
  <% end %>
</div>

<%= content_tag :div, "", id: "weight-chart", data: { weight: @weigh_ins } %>

<div id="new-weight-link">
	<%= link_to "+ Record new weight", new_weigh_in_path, class: "fancy" %>
</div>

<% unless @groups.empty? %>
<h2>Groups</h2>
<ul>
  <% @groups.each do |g| %>
  <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</ul>
<% end %>