<!DOCTYPE html>
<html>
<head>
  <title>Weight Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main-header">
    <div id="header-container">
      <div id="main-logo">
        <h1><%= link_to "Weight Tracker", root_path %></h1>
      </div>
      <nav id="user-nav">
        <ul id="main-nav">
        <% if current_user %>
          <li><%= link_to "Home", root_path %></li><li id="users-groups-menu" >
            <%= link_to "Groups", "#" %>
            <ul id="users-groups-nav">
              <% current_user.groups.each do |group| %>
                <li><%= link_to group.name, group %></li>
              <% end %>
              <% if current_user.admin %>
                <li><%= link_to "+ New Group", new_group_path %></li>
              <% end %>
            </ul>
          </li><li>
              <%= link_to "Log Out", logout_path %>
            </li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li><li><%= link_to "Register", register_path %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div id="flash_<%= name %>"><%= msg %></div>
    <% end %>
        
    <% if show_title? %>
      <h1><%= yield :title %></h1>
    <% end %>
  <%= yield %>
  </div>
</body>
</html>
